<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Selenium" parallel="classes" thread-count="2">
<parameter name="browser" value="chrome"></parameter>
    <test name="ChromeTest">
        <packages>
            <package name="com.epam.test"/>
        </packages>
    </test>


</suite>
